.background {
  background-color: #f3e6e3;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15rem
}
.box {
  border-radius: 3%;
  background-color: white;
  width: 600px;
  display: flex;
}
.product-image {
  max-height: 25rem;
  border-top-left-radius: 3%;
  border-bottom-left-radius: 3%;
}
.text-box{
  display: flex;
  flex-direction: column;
  padding: 40px;
}
.title-text{
  font-family: 'Merriweather', serif;
  font-weight: bold;
  font-size: 30px;
}
.description-text{
  font-family: 'Roboto', sans-serif;
}