/* - Mobile: 375px
- Desktop: 1440px */
.background {
  background-color: hsl(30, 38%, 92%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15rem
}
.box {
  border-radius: 3%;
  background-color: white;
  width: 600px;
  display: flex;
  font-size: 14px;
}
.image-box{
  display: flex;
}
@media screen and (max-width: 375px) {
  .box {
    width: 375px;
    display: flex;
    flex-direction: column;
  }
  .product-image {
    max-height: 20rem;
    border-top-right-radius: 3%;
    border-top-left-radius: 3%;
    object-fit: cover;
  }
}

@media screen and (min-width: 1440px){
  .product-image{
    max-height: 25rem;
    border-top-left-radius: 3%;
    border-bottom-left-radius: 3%;
  }
}
.product-image {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%
}
.text-box{
  display: flex;
  flex-direction: column;
  padding: 30px;
}
.title-text{
  font-family: 'Fraunces', serif;
  font-weight: bolder;
  font-size: 30px;
  margin: 0;
  color: hsl(212, 21%, 14%);
}
.description-text{
  font-family: 'Montserrat', sans-serif;
  color: hsl(228, 12%, 48%);
  letter-spacing: 0.05em;
}
.spaced-text{
  letter-spacing: 0.5em;
  font-weight: 100;
}
.price{
  color: hsl(158, 36%, 37%);
}
.original-price{
  text-decoration: line-through;
}
.pricing-breakdown{
  display: flex;
  gap: 20px;
}
.cart-button{
  background:  hsl(158, 36%, 37%);
  color: white;
  border: none;
  padding: 15px;
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  gap: 8px;
}
.cart-button:hover{
  background-color: #044130;
}
.attribution{
  display: flex;
  justify-content: center;
}